@model IEnumerable<e_commerce_project.Models.Order>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
 
            <th>
                @Html.DisplayNameFor(model => model.deliverd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
                @{
                    if (item.deliverd == true)
                    {
                        <td>
                            deliverd 
                        </td>
                    }
                    else
                    {
                        <td>
                            bending
                        </td>
                    }
                }
            <td>$ @item.TotalPrice</td>
            <td>
                @Html.ActionLink("allSubmittedOrders","getOrderDetails",  new {  id=item.Id  }) 
            </td>
        </tr>
}
    </tbody>
</table>
